

<ion-content >
  <ion-list  >

    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label range-left>200</ion-label>
      <ion-range color="secondary" pin="true" min="200" max="2000" step="100"></ion-range>     
      
      <ion-label range-right>2000</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>1000 em 1000</ion-label>
      <ion-range color="dark" pin="true" min="1000" max="10000" step="1000" snaps="true"></ion-range>
    </ion-item>

    <ion-footer>
      <ion-range aria-label="Temperature">
        <ion-icon slot="start" name="snow-outline"></ion-icon>
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>
    </ion-footer>

  </ion-list>
</ion-content>